# Ignore Visual Studio Code settings
.vscode/
.idea/
build/  
Debug/

# Ignore all executable files
**/*.exe

# Ignore Windows thumbnail cache files
Thumbs.db

# Ignore macOS directory attributes
.DS_Store

# Ignore temporary files
*.tmp
*.avi
*~

# Ignore log files
*.log

# Ignore compiled object files
*.o
*.obj

# Ignore compiled dynamic libraries
*.so
*.dylib
*.dll